.item {
  position: relative;
  list-style: none;
  height: 25vh;
}

.logo {
  position: absolute;
  left: 15px;
  top: 15px;
}

.coin-logo,
.coin-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}

.details {
  text-align: right;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

small {
  font-size: 12px;
  font-weight: 400;
}
