.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  background-color: #4167af;
  min-width: 100%;
  min-height: 70vh;
}

a:nth-child(4n + 2),
a:nth-child(4n + 3) {
  background-color: rgba(0, 0, 0, 0.2);
}
