@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400&display=swap');
@import './reset.css';

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  background-color: #3b5a9a;
}

h5 {
  color: #fff;
  font-size: 0.8rem;
  padding: 8px;
  font-weight: 900;
}

svg {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  #root {
    width: 28vw;
    margin: 0 auto;
  }
}
